# Immigration Data Pipeline
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [2]:
# Do all imports and installs here
import pandas as pd
import os

### Step 1: Scope the Project and Gather Data

### Step 2: Explore and Assess the Data

In [3]:
# Read in the data here
df_immigration = pd.read_sas("/home/workspace/data/i94_apr16_sub.sas7bdat")

In [5]:
df_airport_codes = pd.read_csv("/home/workspace/data/airport-codes_csv.csv")

In [6]:
df_cityTemperature = pd.read_csv("/home/workspace/data/GlobalLandTemperaturesByCity.csv")

In [7]:
df_cityDemographics = pd.read_csv("/home/workspace/data/us-cities-demographics.csv", delimiter=';')

In [17]:
def getColumnsWithNANs(df):
    columns_dict = {}
    drop_columns = []

    for col in df.columns:
        colWiseNullCount = df[col].isna().sum()
        columns_dict[col] = colWiseNullCount
        if colWiseNullCount > 0.05 * (df.shape[0]):
            drop_columns.append(col)
    return columns_dict, drop_columns

In [9]:
def getDetails(df):
    print("Shape of the data frame is: ", df.shape)
    print("\nView top 5 rows: \n")
    print(df.head(20))

In [10]:
getDetails(df_immigration)

Shape of the data frame is:  (3096313, 28)

View top 5 rows:

    cicid   i94yr  i94mon  i94cit  i94res i94port  arrdate  i94mode i94addr  \
0     6.0  2016.0     4.0   692.0   692.0  b'XXX'  20573.0      NaN     NaN
1     7.0  2016.0     4.0   254.0   276.0  b'ATL'  20551.0      1.0   b'AL'
2    15.0  2016.0     4.0   101.0   101.0  b'WAS'  20545.0      1.0   b'MI'
3    16.0  2016.0     4.0   101.0   101.0  b'NYC'  20545.0      1.0   b'MA'
4    17.0  2016.0     4.0   101.0   101.0  b'NYC'  20545.0      1.0   b'MA'
5    18.0  2016.0     4.0   101.0   101.0  b'NYC'  20545.0      1.0   b'MI'
6    19.0  2016.0     4.0   101.0   101.0  b'NYC'  20545.0      1.0   b'NJ'
7    20.0  2016.0     4.0   101.0   101.0  b'NYC'  20545.0      1.0   b'NJ'
8    21.0  2016.0     4.0   101.0   101.0  b'NYC'  20545.0      1.0   b'NY'
9    22.0  2016.0     4.0   101.0   101.0  b'NYC'  20545.0      1.0   b'NY'
10   23.0  2016.0     4.0   101.0   101.0  b'NYC'  20545.0      1.0   b'NY'
11   24.0  2016.0     4.0   101.0   101.0  b'TOR'  20545.0      1.0   b'MO'
12   27.0  2016.0     4.0   101.0   101.0  b'BOS'  20545.0      1.0   b'MA'
13   28.0  2016.0     4.0   101.0   101.0  b'ATL'  20545.0      1.0   b'MA'
14   29.0  2016.0     4.0   101.0   101.0  b'ATL'  20545.0      1.0   b'MA'
15   30.0  2016.0     4.0   101.0   101.0  b'ATL'  20545.0      1.0   b'NJ'
16   31.0  2016.0     4.0   101.0   101.0  b'ATL'  20545.0      1.0   b'NY'
17   33.0  2016.0     4.0   101.0   101.0  b'HOU'  20545.0      1.0   b'TX'
18   34.0  2016.0     4.0   101.0   101.0  b'NYC'  20545.0      1.0   b'CT'
19   35.0  2016.0     4.0   101.0   101.0  b'NYC'  20545.0      1.0   b'CT'

    depdate   ...     entdepu  matflag  biryear      dtaddto gender insnum  \
0       NaN   ...        b'U'      NaN   1979.0  b'10282016'    NaN    NaN
1       NaN   ...        b'Y'      NaN   1991.0       b'D/S'   b'M'    NaN
2   20691.0   ...         NaN     b'M'   1961.0  b'09302016'   b'M'    NaN
3   20567.0   ...         NaN     b'M'   1988.0  b'09302016'    NaN    NaN
4   20567.0   ...         NaN     b'M'   2012.0  b'09302016'    NaN    NaN
5   20555.0   ...         NaN     b'M'   1959.0  b'09302016'    NaN    NaN
6   20558.0   ...         NaN     b'M'   1953.0  b'09302016'    NaN    NaN
7   20558.0   ...         NaN     b'M'   1959.0  b'09302016'    NaN    NaN
8   20553.0   ...         NaN     b'M'   1970.0  b'09302016'    NaN    NaN
9   20562.0   ...         NaN     b'M'   1968.0  b'09302016'    NaN    NaN
10  20671.0   ...         NaN     b'M'   1964.0  b'09302016'    NaN    NaN
11  20554.0   ...         NaN     b'M'   1983.0  b'09302016'    NaN    NaN
12  20549.0   ...         NaN     b'M'   1958.0  b'04062016'   b'M'    NaN
13  20549.0   ...         NaN     b'M'   1960.0  b'04062016'   b'F'    NaN
14  20561.0   ...         NaN     b'M'   1954.0  b'09302016'   b'M'    NaN
15  20578.0   ...         NaN     b'M'   1967.0  b'09302016'   b'M'    NaN
16  20611.0   ...         NaN     b'M'   1973.0  b'09302016'   b'M'    NaN
17  20554.0   ...         NaN     b'M'   1963.0  b'09302016'   b'F'    NaN
18      NaN   ...         NaN      NaN   1968.0  b'09302016'   b'M'    NaN
19      NaN   ...         NaN      NaN   1942.0  b'09302016'   b'F'    NaN

   airline        admnum     fltno visatype
0      NaN  1.897628e+09       NaN    b'B2'
1      NaN  3.736796e+09  b'00296'    b'F1'
2    b'OS'  6.666432e+08     b'93'    b'B2'
3    b'AA'  9.246846e+10  b'00199'    b'B2'
4    b'AA'  9.246846e+10  b'00199'    b'B2'
5    b'AZ'  9.247104e+10  b'00602'    b'B1'
6    b'AZ'  9.247140e+10  b'00602'    b'B2'
7    b'AZ'  9.247161e+10  b'00602'    b'B2'
8    b'AZ'  9.247080e+10  b'00602'    b'B2'
9    b'AZ'  9.247849e+10  b'00608'    b'B1'
10   b'TK'  9.250139e+10  b'00001'    b'B2'
11   b'MQ'  9.249091e+10  b'03348'    b'B2'
12   b'LH'  9.247876e+10  b'00422'    b'B1'
13   b'LH'  9.247890e+10  b'00422'    b'B1'
14   b'AZ'  9.250378e+10  b'00614'    b'B2'
15   b'OS'  9.247021e+10  b'00089'    b'B2'
16   b'OS'  9.247129e+10  b'00089'    b'B2'
17   b'TK'  9.250930e+10  b'00033'    b'B2'
18   b'AZ'  9.247042e+10  b'00602'    b'B2'
19   b'TK'  6.697122e+08      b'1'    b'B2'

[20 rows x 28 columns]

In [11]:
df_immigration.columns

Index(['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate',
       'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa', 'count',
       'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu',
       'matflag', 'biryear', 'dtaddto', 'gender', 'insnum', 'airline',
       'admnum', 'fltno', 'visatype'],
      dtype='object')

In [19]:
col_dict, drop_col_immigration = getColumnsWithNANs(df_immigration)
print(col_dict)
print(drop_col_immigration)

{'cicid': 0, 'i94yr': 0, 'i94mon': 0, 'i94cit': 0, 'i94res': 0, 'i94port': 0, 'arrdate': 0, 'i94mode': 239, 'i94addr': 152372, 'depdate': 142457, 'i94bir': 802, 'i94visa': 0, 'count': 0, 'dtadfile': 1, 'visapost': 1881250, 'occup': 3088187, 'entdepa': 238, 'entdepd': 138429, 'entdepu': 3095921, 'matflag': 138429, 'biryear': 802, 'dtaddto': 477, 'gender': 414269, 'insnum': 2982605, 'airline': 83627, 'admnum': 0, 'fltno': 19549, 'visatype': 0}
['visapost', 'occup', 'entdepu', 'gender', 'insnum']

In [13]:
getDetails(df_airport_codes)

Shape of the data frame is:  (55075, 12)

View top 5 rows:

   ident           type                                name  elevation_ft  \
0    00A       heliport                   Total Rf Heliport          11.0
1   00AA  small_airport                Aero B Ranch Airport        3435.0
2   00AK  small_airport                        Lowell Field         450.0
3   00AL  small_airport                        Epps Airpark         820.0
4   00AR         closed  Newport Hospital & Clinic Heliport         237.0
5   00AS  small_airport                      Fulton Airport        1100.0
6   00AZ  small_airport                      Cordes Airport        3810.0
7   00CA  small_airport             Goldstone /Gts/ Airport        3038.0
8   00CL  small_airport                 Williams Ag Airport          87.0
9   00CN       heliport     Kitchen Creek Helibase Heliport        3350.0
10  00CO         closed                          Cass Field        4830.0
11  00FA  small_airport                 Grass Patch Airport          53.0
12  00FD       heliport                  Ringhaver Heliport          25.0
13  00FL  small_airport                   River Oak Airport          35.0
14  00GA  small_airport                    Lt World Airport         700.0
15  00GE       heliport                    Caffrey Heliport         957.0
16  00HI       heliport                  Kaupulehu Heliport          43.0
17  00ID  small_airport                Delta Shores Airport        2064.0
18  00IG  small_airport                       Goltl Airport        3359.0
19  00II       heliport  Bailey Generation Station Heliport         600.0

   continent iso_country iso_region  municipality gps_code iata_code  \
0        NaN          US      US-PA      Bensalem      00A       NaN
1        NaN          US      US-KS         Leoti     00AA       NaN
2        NaN          US      US-AK  Anchor Point     00AK       NaN
3        NaN          US      US-AL       Harvest     00AL       NaN
4        NaN          US      US-AR       Newport      NaN       NaN
5        NaN          US      US-OK          Alex     00AS       NaN
6        NaN          US      US-AZ        Cordes     00AZ       NaN
7        NaN          US      US-CA       Barstow     00CA       NaN
8        NaN          US      US-CA         Biggs     00CL       NaN
9        NaN          US      US-CA   Pine Valley     00CN       NaN
10       NaN          US      US-CO    Briggsdale      NaN       NaN
11       NaN          US      US-FL      Bushnell     00FA       NaN
12       NaN          US      US-FL     Riverview     00FD       NaN
13       NaN          US      US-FL    Okeechobee     00FL       NaN
14       NaN          US      US-GA      Lithonia     00GA       NaN
15       NaN          US      US-GA         Hiram     00GE       NaN
16       NaN          US      US-HI   Kailua/Kona     00HI       NaN
17       NaN          US      US-ID    Clark Fork     00ID       NaN
18       NaN          US      US-KS      McDonald     00IG       NaN
19       NaN          US      US-IN    Chesterton     00II       NaN

   local_code                              coordinates
0         00A       -74.93360137939453, 40.07080078125
1        00AA                   -101.473911, 38.704022
2        00AK              -151.695999146, 59.94919968
3        00AL    -86.77030181884766, 34.86479949951172
4         NaN                      -91.254898, 35.6087
5        00AS                  -97.8180194, 34.9428028
6        00AZ  -112.16500091552734, 34.305599212646484
7        00CA       -116.888000488, 35.350498199499995
8        00CL                   -121.763427, 39.427188
9        00CN                 -116.4597417, 32.7273736
10        NaN                   -104.344002, 40.622202
11       00FA    -82.21900177001953, 28.64550018310547
12       00FD   -82.34539794921875, 28.846599578857422
13       00FL   -80.96920013427734, 27.230899810791016
14       00GA    -84.06829833984375, 33.76750183105469
15       00GE    -84.73390197753906, 33.88420104980469
16       00HI                   -155.980233, 19.832715
17       00ID  -116.21399688720703, 48.145301818847656
18       00IG                   -101.395994, 39.724028
19       00II     -87.122802734375, 41.644500732421875

In [21]:
col_dict, drop_col_airport_codes = getColumnsWithNANs(df_airport_codes)
print(col_dict)
print(drop_col_airport_codes)

{'ident': 0, 'type': 0, 'name': 0, 'elevation_ft': 7006, 'continent': 27719, 'iso_country': 247, 'iso_region': 0, 'municipality': 5676, 'gps_code': 14045, 'iata_code': 45886, 'local_code': 26389, 'coordinates': 0}
['elevation_ft', 'continent', 'municipality', 'gps_code', 'iata_code', 'local_code']

In [15]:
getDetails(df_cityTemperature)

Shape of the data frame is:  (8599212, 7)

View top 5 rows:

            dt  AverageTemperature  AverageTemperatureUncertainty   City  \
0   1743-11-01               6.068                          1.737  Århus
1   1743-12-01                 NaN                            NaN  Århus
2   1744-01-01                 NaN                            NaN  Århus
3   1744-02-01                 NaN                            NaN  Århus
4   1744-03-01                 NaN                            NaN  Århus
5   1744-04-01               5.788                          3.624  Århus
6   1744-05-01              10.644                          1.283  Århus
7   1744-06-01              14.051                          1.347  Århus
8   1744-07-01              16.082                          1.396  Århus
9   1744-08-01                 NaN                            NaN  Århus
10  1744-09-01              12.781                          1.454  Århus
11  1744-10-01               7.950                          1.630  Århus
12  1744-11-01               4.639                          1.302  Århus
13  1744-12-01               0.122                          1.756  Århus
14  1745-01-01              -1.333                          1.642  Århus
15  1745-02-01              -2.732                          1.358  Århus
16  1745-03-01               0.129                          1.088  Århus
17  1745-04-01               4.042                          1.138  Århus
18  1745-05-01                 NaN                            NaN  Århus
19  1745-06-01                 NaN                            NaN  Århus

    Country Latitude Longitude
0   Denmark   57.05N    10.33E
1   Denmark   57.05N    10.33E
2   Denmark   57.05N    10.33E
3   Denmark   57.05N    10.33E
4   Denmark   57.05N    10.33E
5   Denmark   57.05N    10.33E
6   Denmark   57.05N    10.33E
7   Denmark   57.05N    10.33E
8   Denmark   57.05N    10.33E
9   Denmark   57.05N    10.33E
10  Denmark   57.05N    10.33E
11  Denmark   57.05N    10.33E
12  Denmark   57.05N    10.33E
13  Denmark   57.05N    10.33E
14  Denmark   57.05N    10.33E
15  Denmark   57.05N    10.33E
16  Denmark   57.05N    10.33E
17  Denmark   57.05N    10.33E
18  Denmark   57.05N    10.33E
19  Denmark   57.05N    10.33E

In [22]:
col_dict, drop_col_cityTemperature = getColumnsWithNANs(df_cityTemperature)
print(col_dict)
print(drop_col_cityTemperature)

{'dt': 0, 'AverageTemperature': 364130, 'AverageTemperatureUncertainty': 364130, 'City': 0, 'Country': 0, 'Latitude': 0, 'Longitude': 0}
[]

In [21]:
getDetails(df_cityDemographics)

Shape of the data frame is:  (2891, 12)

View top 5 rows:

                City           State  Median Age  Male Population  \
0      Silver Spring        Maryland        33.8          40601.0
1             Quincy   Massachusetts        41.0          44129.0
2             Hoover         Alabama        38.5          38040.0
3   Rancho Cucamonga      California        34.5          88127.0
4             Newark      New Jersey        34.6         138040.0
5             Peoria        Illinois        33.1          56229.0
6           Avondale         Arizona        29.1          38712.0
7        West Covina      California        39.8          51629.0
8           O'Fallon        Missouri        36.0          41762.0
9         High Point  North Carolina        35.5          51751.0
10            Folsom      California        40.9          41051.0
11            Folsom      California        40.9          41051.0
12      Philadelphia    Pennsylvania        34.1         741270.0
13           Wichita          Kansas        34.6         192354.0
14           Wichita          Kansas        34.6         192354.0
15        Fort Myers         Florida        37.3          36850.0
16        Pittsburgh    Pennsylvania        32.9         149690.0
17            Laredo           Texas        28.8         124305.0
18          Berkeley      California        32.5          60142.0
19       Santa Clara      California        35.2          63278.0
20             Allen    Pennsylvania        33.5          60626.0
21           Hampton        Virginia        35.5          66214.0
22       Bolingbrook        Illinois        33.7          36295.0
23         Frederick        Maryland        36.1          33146.0
24            Sparks          Nevada        36.1          47780.0
25    Rancho Cordova      California        33.8          34844.0
26       Westminster        Colorado        37.8          54866.0
27          Lakewood        Colorado        37.7          76013.0
28             Flint        Michigan        35.3          48984.0
29         New Haven     Connecticut        29.9          63765.0

    Female Population  Total Population  Number of Veterans  Foreign-born  \
0             41862.0             82463              1562.0       30908.0
1             49500.0             93629              4147.0       32935.0
2             46799.0             84839              4819.0        8229.0
3             87105.0            175232              5821.0       33878.0
4            143873.0            281913              5829.0       86253.0
5             62432.0            118661              6634.0        7517.0
6             41971.0             80683              4815.0        8355.0
7             56860.0            108489              3800.0       37038.0
8             43270.0             85032              5783.0        3269.0
9             58077.0            109828              5204.0       16315.0
10            35317.0             76368              4187.0       13234.0
11            35317.0             76368              4187.0       13234.0
12           826172.0           1567442             61995.0      205339.0
13           197601.0            389955             23978.0       40270.0
14           197601.0            389955             23978.0       40270.0
15            37165.0             74015              4312.0       15365.0
16           154695.0            304385             17728.0       28187.0
17           131484.0            255789              4921.0       68427.0
18            60829.0            120971              3736.0       25000.0
19            62938.0            126216              4426.0       52281.0
20            59581.0            120207              5691.0       19652.0
21            70240.0            136454             19638.0        6204.0
22            35801.0             72096              2951.0       15212.0
23            36336.0             69482              3870.0       14211.0
24            48318.0             96098              7315.0       15690.0
25            36182.0             71026              4590.0       17020.0
26            58251.0            113117              6512.0       11361.0
27            76576.0            152589              9988.0       14169.0
28            49313.0             98297              3757.0        2138.0
29            66545.0            130310              2567.0       25871.0

    Average Household Size State Code                               Race  \
0                     2.60         MD                 Hispanic or Latino
1                     2.39         MA                              White
2                     2.58         AL                              Asian
3                     3.18         CA          Black or African-American
4                     2.73         NJ                              White
5                     2.40         IL  American Indian and Alaska Native
6                     3.18         AZ          Black or African-American
7                     3.56         CA                              Asian
8                     2.77         MO                 Hispanic or Latino
9                     2.65         NC                              Asian
10                    2.62         CA                 Hispanic or Latino
11                    2.62         CA  American Indian and Alaska Native
12                    2.61         PA                              Asian
13                    2.56         KS                 Hispanic or Latino
14                    2.56         KS  American Indian and Alaska Native
15                    2.45         FL                              White
16                    2.13         PA                              White
17                    3.66         TX  American Indian and Alaska Native
18                    2.35         CA                              Asian
19                    2.75         CA                              White
20                    2.67         PA          Black or African-American
21                    2.48         VA          Black or African-American
22                    3.42         IL  American Indian and Alaska Native
23                    2.48         MD                              White
24                    2.63         NV                 Hispanic or Latino
25                    2.86         CA                              Asian
26                    2.63         CO                 Hispanic or Latino
27                    2.29         CO                 Hispanic or Latino
28                    2.38         MI                              White
29                    2.48         CT  American Indian and Alaska Native

     Count
0    25924
1    58723
2     4759
3    24437
4    76402
5     1343
6    11592
7    32716
8     2583
9    11060
10    5822
11     998
12  122721
13   65162
14    8791
15   50169
16  208863
17    1253
18   27089
19   55847
20   22304
21   70303
22     323
23   49181
24   29159
25   12653
26   23355
27   33630
28   44786
29    2205

In [23]:
col_dict, drop_col_cityDemographics = getColumnsWithNANs(df_cityDemographics)
print(col_dict)
print(drop_col_cityDemographics)

{'City': 0, 'State': 0, 'Median Age': 0, 'Male Population': 3, 'Female Population': 3, 'Total Population': 0, 'Number of Veterans': 13, 'Foreign-born': 13, 'Average Household Size': 16, 'State Code': 0, 'Race': 0, 'Count': 0}
[]

### Step 3: Define the Data Model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model

- Refer notebook 'DECapstoneProjectNotebook_1.ipynb'

#### 4.2 Data Quality Checks

#### 4.3 Data dictionary 
- refer I94_SAS_Labels_Descriptions.SAS

#### Step 5: Complete Project Write Up