In [41]:
import configparser
from datetime import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col, substring
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format
from pyspark.sql.functions import monotonically_increasing_id, row_number
from pyspark.sql import Window
from pyspark.sql.functions import isnan, when, count, avg
from pyspark.sql.functions import sum as _sum
from pyspark.sql.types import *
import pyspark.sql.functions as func


import sys

In [42]:
config = configparser.ConfigParser()
config.read('dl.cfg')

['dl.cfg']

In [43]:
os.environ['AWS_ACCESS_KEY_ID']=config.get('aws', 'AWS_ACCESS_KEY_ID')
os.environ['AWS_SECRET_ACCESS_KEY']=config.get('aws', 'AWS_SECRET_ACCESS_KEY')

In [44]:
def create_spark_session():
    """ Create spark session """

    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()
    return spark

In [45]:
def drop_rows_and_removeDuplicates(df, dropColumns):
    print("drop rows with nulls in all columns of data frame: ", dropColumns)
    print("Rows before dropping nulls: ", df.count())
    df = df.na.drop(subset=dropColumns)                                       # In order to remove Rows with NULL values on all columns of PySpark DataFrame
    print("Rows after dropping nulls: ", df.count())
    df = df.distinct()
    print("Rows after dropping duplicate rows: ", df.count())
    return df

In [46]:
# These values are obtained by running other notebook named 'Capstone Project Template.ipynb', esentially getting columns that have null values exceeding 5%.

dropList_immigration = ['visapost', 'occup', 'entdepu', 'gender', 'insnum']
dropList_airportCodes =  ['elevation_ft', 'continent', 'municipality', 'gps_code', 'iata_code', 'local_code']
dropList_stateTemperature = []
dropList_demographics = []

In [47]:
def create_US_demographics_data(spark, input_data, output_data):
    """
    Fetch us-cities-demographics data from S3, processes it and extract demographics from it.
    Convert the data frames to parquet file and loaded back to S3 as output_data.
        
    Parameters:
        spark       : Spark Session
        input_data  : CSV file, location in S3 bucket
        output_data : Parquet format stored in S3

    """

    # get filepath to us-cities-demographics data file
    data = input_data + 'us-cities-demographics.csv'

    # read data file
    df = spark.read.csv(data, inferSchema=True, header=True,  sep=';')
    
    # remove specific columns as per notebook 'Capstone Project Template.ipynb':
    df = df.drop(*dropList_demographics)
    
    # perform data cleaning
    df = drop_rows_and_removeDuplicates(df, df.columns)
    
    df = df.withColumnRenamed('State Code', 'State_Code') \
        .withColumnRenamed('Male Population', 'Male_Population') \
        .withColumnRenamed('Female Population', 'Female_Population') \
        .withColumnRenamed('Total Population', 'Total_Population') \
        .withColumnRenamed('Number of Veterans', 'Number_Of_Veterans') \
        .withColumnRenamed('Average Household Size', 'Average_Household_Size') \
        .withColumnRenamed('Foreign-born', 'Foreign_Born') \
        .withColumnRenamed('Median Age', 'Median_Age') \
    
    # modify data frame to meet requirements
    df = df.groupBy("State_Code", "State") \
        .agg(
             _sum("Male_Population").alias("Male_Population"), \
             _sum("Female_Population").alias("Female_Population"), \
             _sum("Total_Population").alias("Total_Population"), \
             _sum("Number_Of_Veterans").alias("Number_Of_Veterans"), \
             _sum("Foreign_Born").alias("Foreign_Born"), \
             avg("Average_Household_Size").alias("Average_Household_Size"), \
             func.mean(df["Median_Age"]).alias("Median_Age") \
         ) 
    
    # Adding an id column
    df = df.withColumn("Id", row_number().over(Window.orderBy(monotonically_increasing_id())))

    # write dimension to parquet file
    df.write.parquet(output_data + "Demographics", mode="overwrite")

    df.show()
    
    df.printSchema()
    
    return df

In [48]:
def process_airport_codes_data(spark, input_data, output_data):
    """
    Fetch airport_codes data from S3, processes it and extract airport details from it.
    Convert the data frames to parquet files and loaded back to S3 as output_data.
        
    Parameters:
        spark       : Spark Session
        input_data  : CSV file, location in S3 bucket
        output_data : Parquet format stored in S3

    """

    # get filepath to airport_codes data file
    data = input_data + 'airport-codes_csv.csv'
    
    # read airport_codes data file
    df = spark.read.csv(data, inferSchema=True, header=True,  sep=',')  
    
    # remove specific columns as per notebook 'Capstone Project Template.ipynb':
    df = df.drop(*dropList_airportCodes)

    # extract columns to create airport_codes dimension table 
    df = drop_rows_and_removeDuplicates(df, df.columns)
    
    # add a new state_code column:
    df = df.select(df.ident, df.type, df.name, df.iso_country, df.iso_region, substring('iso_region', 4, 2).alias('state_code'), df.coordinates)
    
    # Adding an id column
    df = df.withColumn('Id', row_number().over(Window.orderBy(monotonically_increasing_id())))

    # write dimension to parquet file
    df.write.parquet(output_data + "Airport_Details", mode="overwrite")
    
    df.show()
    
    df.printSchema()
    
    return df

In [49]:
state_codes = {'alabama': 'AL', 'alaska': 'AK', 'arizona': 'AZ', 'arkansas': 'AR', 'california': 'CA', 'colorado': 'CO', 'connecticut': 'CT', 'delaware': 'DE', 'dist. of columbia': 'DC', 'florida': 'FL', 'georgia': 'GA', 'guam': 'GU', 'hawaii': 'HI', 'idaho': 'ID', 'illinois': 'IL', 'indiana': 'IN', 'iowa': 'IA', 'kansas': 'KS', 'kentucky': 'KY', 'louisiana': 'LA', 'maine': 'ME', 'maryland': 'MD', 'massachusetts': 'MA', 'michigan': 'MI', 'minnesota': 'MN', 'mississippi': 'MS', 'missouri': 'MO', 'montana': 'MT', 'n. carolina': 'NC', 'n. dakota': 'ND', 'nebraska': 'NE', 'nevada': 'NV', 'new hampshire': 'NH', 'new jersey': 'NJ', 'new mexico': 'NM', 'new york': 'NY', 'ohio': 'OH', 'oklahoma': 'OK', 'oregon': 'OR', 'pennsylvania': 'PA', 'puerto rico': 'PR', 'rhode island': 'RI', 's. carolina': 'SC', 's. dakota': 'SD', 'tennessee': 'TN', 'texas': 'TX', 'utah': 'UT', 'vermont': 'VT', 'virgin islands': 'VI', 'virginia': 'VA', 'w. virginia': 'WV', 'washington': 'WA', 'wisconson': 'WI', 'wyoming': 'WY', 'all other codes': '99'}

In [50]:
def convertStateToStateCodes(value):
    value = str.lower(value)
    if value in state_codes.keys(): 
      return state_codes[value]
    else:
      return 'Unknown'

In [51]:
def process_GlobalLandTemperaturesByState_data(spark, input_data, output_data):
    """
    Fetch GlobalLandTemperaturesByState data from S3, processes it and extract GlobalLandTemperatures from it.
    Convert the data frames to parquet files and loaded back to S3 as output_data.
        
    Parameters:
        spark       : Spark Session
        input_data  : Input json files location in S3 bucket
        output_data : Parquet format stored in S3

    """

    # get filepath to data file
    data = input_data + 'GlobalLandTemperaturesByState.csv'
    
    # read data file
    df = spark.read.csv(data, inferSchema=True, header=True,  sep=',')  
    
    # remove specific columns as per notebook 'Capstone Project Template.ipynb':
    df = df.drop(*dropList_stateTemperature)
    
    # filtering results for United States
    df = df.filter("Country == 'United States'")
    
    # extract columns to create GlobalLandTemperaturesByCity dimension table  
    df = drop_rows_and_removeDuplicates(df, df.columns)
    
    # rounding temperature columns
    df = df.withColumn("AverageTemperature", func.round(df["AverageTemperature"], 2))
    df = df.withColumn("AverageTemperatureUncertainty", func.round(df["AverageTemperatureUncertainty"], 2))
    
    # add state_codes column to the data frame
    udf_Function = func.udf(convertStateToStateCodes, StringType())
    df = df.withColumn("State_Codes", udf_Function("State"))

    # Adding an id column
    df = df.withColumn('Id', row_number().over(Window.orderBy(monotonically_increasing_id())))
    
    # write dimension to parquet file
    df.write.parquet(output_data + "Temperature_Details", mode="overwrite")
    df.show()
    df.printSchema()
    
    return df

In [52]:
def extractColumnsForDateTime(df):
    """
    Fetch date and time details from timestamp data. 
        
    Parameters:
        input_data  : Spark Data Frame
        output_data : Spark Data Frame

    """
    df = df.select(col('Id'), 
                        col('datetime').alias('Start_Time'), 
                        hour(col('datetime')).alias('Hour'),
                        dayofmonth(col('datetime')).alias('Day'),
                        weekofyear(col('datetime')).alias('Week'),
                        month(col('datetime')).alias('Month'),
                        year(col('datetime')).alias('Year'),
                        date_format(col('datetime'), "u").alias('Weekday')
                        ).dropDuplicates()
    
    df.printSchema()
    
    return df

In [53]:
def createArrivalDateTimeDimensionTable(df, output_data):
    """
    Used to create ArrivalDateTime dimension table.
    
    Parameters:
        df: spark dataframe of Immigration data
        output_data: path to write dimension dataframe to
        return: spark dataframe of DateTime dimension
    
    """
    
    # create datetime column from original timestamp column
    get_datetime = udf(lambda x: str(datetime.fromtimestamp(int(x) / 1000)))
    df = df.withColumn("datetime", get_datetime(df.arrdate))
    
    # extract columns
    df = extractColumnsForDateTime(df)
    
    # write time table to parquet files partitioned by year and month
    df.write.partitionBy("year", "month").mode('overwrite').parquet(output_data + "ArrivalDateTime.parquet")
    df.printSchema()
    
    return df

In [54]:
def createDepartureDateTimeDimensionTable(df, output_data):
    """
    Used to create DepartureDateTime dimension table.
    
    Parameters:
        df: spark dataframe of Immigration data
        output_data: path to write dimension dataframe to
        return: spark dataframe of DateTime dimension
    
    """
    
    # create datetime column from original timestamp column
    get_datetime = udf(lambda x: str(datetime.fromtimestamp(int(x) / 1000)))
    df = df.withColumn("datetime", get_datetime(df.depdate))
    
    # extract columns
    df = extractColumnsForDateTime(df)
    
    # write time table to parquet files partitioned by year and month
    df.write.partitionBy("year", "month").mode('overwrite').parquet(output_data + "DepartureDateTime.parquet")
    df.printSchema()
    
    return df

In [55]:
def process_immigration_data(spark, input_data, output_data):
    """
    Fetch Immigration data from S3 and processes it.
    Convert the data frames to parquet files and loaded back to S3 as output_data.
        
    Parameters:
        spark       : Spark Session
        input_data  : Input parquet files location in S3 bucket
        output_data : Parquet format stored in S3

    """

    # get filepath to immigration data file
    data = input_data + 'sas_data/' + '*.parquet'
    
    # read immigration data file
    df = spark.read.parquet(data) 
    
    # remove specific columns as per notebook 'Capstone Project Template.ipynb':
    df = df.drop(*dropList_immigration)
    
    # extract columns to create immigration table    
    df = drop_rows_and_removeDuplicates(df, df.columns)
    
    # Adding an id column
    df = df.withColumn("Id", row_number().over(Window.orderBy(monotonically_increasing_id())))
    
    # create ArrivalDateTime dimension table
    arrival_df = createArrivalDateTimeDimensionTable(df, output_data)
    
    # create DepartureDateTime dimension table
    departure_df = createDepartureDateTimeDimensionTable(df, output_data)
    
    print("ArrivalDateTimeDimensionTable")
    arrival_df.show()
    
    print("DepartureDateTimeDimensionTable")
    departure_df.show()
    
    dropColumns = ['depdate', 'arrdate']
    df = df.drop(*dropColumns)
    
    # write Fact Table to parquet file
    df.write.parquet(output_data + "Immigration_Details", mode="overwrite")
    df.show()
    df.printSchema()
    
    return df

In [56]:
def performDataQualityChecks(df):
    """
    Perform quality checks on data.
        
    Parameters:
        df       : Spark data frame 

    """
    if df.count() < 1:
        raise ValueError("Number of rows in data frame is 0 !!")
    if len(df.columns) < 1:
        raise ValueError("Number of columns in data frame is 0 !!")
    if 'pyspark' not in str(type(df)):
        raise TypeError("Unexpected input type")

In [57]:
def run():
    """
    Main method to clean input data and create Fact and Dimension parquet tables.
    """

    spark = create_spark_session()
    #input_data = "s3://aws-logs-464689066216-us-west-2/data/"
    #output_data = "s3://aws-logs-464689066216-us-west-2/data/"
    
    input_data = "/home/workspace/data/"
    output_data = "/home/workspace/data/"
    
    df = create_US_demographics_data(spark, input_data, output_data)
    performDataQualityChecks(df)
    print("\n\n")
    df = process_airport_codes_data(spark, input_data, output_data)
    performDataQualityChecks(df)
    print("\n\n")
    df = process_GlobalLandTemperaturesByState_data(spark, input_data, output_data)
    performDataQualityChecks(df)
    print("\n\n")
    df = process_immigration_data(spark, input_data, output_data)
    performDataQualityChecks(df)

In [19]:
run()

drop rows with nulls in all columns of data frame:  ['City', 'State', 'Median Age', 'Male Population', 'Female Population', 'Total Population', 'Number of Veterans', 'Foreign-born', 'Average Household Size', 'State Code', 'Race', 'Count']
Rows before dropping nulls:  2891
Rows after dropping nulls:  2875
Rows after dropping duplicate rows:  2875
+----------+--------------------+---------------+-----------------+----------------+------------------+------------+----------------------+------------------+---+
|State_Code|               State|Male_Population|Female_Population|Total_Population|Number_Of_Veterans|Foreign_Born|Average_Household_Size|        Median_Age| Id|
+----------+--------------------+---------------+-----------------+----------------+------------------+------------+----------------------+------------------+---+
|        MT|             Montana|         438535|           467935|          906470|             69270|       29885|    2.2749999999999995|              35.5|  1|
|        NC|      North Carolina|        7330525|          7970470|        15300995|            830730|     1896635|    2.4750000000000005| 33.78571428571429|  2|
|        MD|            Maryland|        3139755|          3420890|         6560645|            320715|     1148970|                 2.655|36.370000000000005|  3|
|        CO|            Colorado|        7273095|          7405250|        14678345|            939480|     1688155|    2.5599999999999987|35.818749999999994|  4|
|        CT|         Connecticut|        2123435|          2231661|         4355096|            122546|     1114250|     2.666153846153846|  35.0025641025641|  5|
|        IL|            Illinois|       10943864|         11570526|        22514390|            723049|     4632600|    2.7318681318681315| 35.70879120879121|  6|
|        NJ|          New Jersey|        3423033|          3507991|         6931024|            146632|     2327750|     2.960877192982456| 35.25438596491229|  7|
|        DE|            Delaware|         163400|           196385|          359785|             15315|       16680|                  2.45|              36.4|  8|
|        DC|District of Columbia|        1598525|          1762615|         3361140|            129815|      475585|                  2.24|              33.8|  9|
|        TN|           Tennessee|        5124189|          5565976|        10690165|            586202|      900149|    2.4629545454545454| 34.31136363636363| 10|
|        LA|           Louisiana|        3134990|          3367985|         6502975|            348855|      417095|                 2.465| 34.62500000000001| 11|
|        AR|            Arkansas|        1400724|          1482165|         2882889|            154390|      307753|     2.526896551724138| 32.73793103448276| 12|
|        AK|              Alaska|         764725|           728750|         1493475|            137460|      166290|                  2.77|              32.2| 13|
|        CA|          California|       61055672|         62388681|       123444353|           4617022|    37059662|    3.0953254437869817| 36.17396449704143| 14|
|        NM|          New Mexico|        2045050|          2150160|         4195210|            302370|      445560|                 2.585|            37.775| 15|
|        UT|                Utah|        2586752|          2532925|         5119677|            193165|      651811|              3.156875|30.862499999999983| 16|
|        MI|            Michigan|        5217245|          5667993|        10885238|            490435|     1214547|    2.5055696202531648| 37.01139240506328| 17|
|        NY|            New York|       23422799|         25579256|        49002055|           1019097|    17186873|    2.7703703703703697| 35.57037037037037| 18|
|        NH|       New Hampshire|         488855|           502135|          990990|             55025|      135995|    2.4299999999999997|37.800000000000004| 19|
|        WA|          Washington|        6228025|          6272510|        12500535|            765630|     2204810|     2.597647058823529| 35.28823529411764| 20|
+----------+--------------------+---------------+-----------------+----------------+------------------+------------+----------------------+------------------+---+
only showing top 20 rows

root
 |-- State_Code: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Male_Population: long (nullable = true)
 |-- Female_Population: long (nullable = true)
 |-- Total_Population: long (nullable = true)
 |-- Number_Of_Veterans: long (nullable = true)
 |-- Foreign_Born: long (nullable = true)
 |-- Average_Household_Size: double (nullable = true)
 |-- Median_Age: double (nullable = true)
 |-- Id: integer (nullable = true)




drop rows with nulls in all columns of data frame:  ['ident', 'type', 'name', 'iso_country', 'iso_region', 'coordinates']
Rows before dropping nulls:  55075
Rows after dropping nulls:  55075
Rows after dropping duplicate rows:  55075
+-----+-------------+--------------------+-----------+----------+----------+--------------------+---+
|ident|         type|                name|iso_country|iso_region|state_code|         coordinates| Id|
+-----+-------------+--------------------+-----------+----------+----------+--------------------+---+
| 08CO|small_airport| Terra Firma Airport|         US|     US-CO|        CO|-104.041000366210...|  1|
|  09N|small_airport|    Airhaven Airport|         US|     US-NY|        NY|-73.8759994506836...|  2|
| 0FD3|small_airport|        Dugger Field|         US|     US-FL|        FL|-86.0938034057617...|  3|
|  0G5|seaplane_base|Grand Marais/Cook...|         US|     US-MN|        MN|   -90.3835, 47.8263|  4|
| 0NA5|small_airport|      Sorlie Airport|         US|     US-ND|        ND|-99.5628967285156...|  5|
| 0TA3|small_airport|  Tate Ranch Airport|         US|     US-TX|        TX|-102.138000488281...|  6|
| 0TE2|     heliport|Bell Helicopter H...|         US|     US-TX|        TX|-97.1669998168945...|  7|
| 13WA|       closed|Fsa - Everett Hel...|         US|     US-WA|        WA|    -122.25, 47.9365|  8|
| 14TN|     heliport|News Channel 3 He...|         US|     US-TN|        TN|-90.0714035034179...|  9|
|  1E8|small_airport|      Moores Airport|         US|     US-NY|        NY|-75.0662994384765...| 10|
| 1MT0|small_airport|Nine Quarter Circ...|         US|     US-MT|        MT|-111.296997070312...| 11|
| 1ND4|small_airport|  Walkinshaw Airport|         US|     US-ND|        ND|-97.0169982910156...| 12|
| 1XS6|     heliport|Hillcrest Baptist...|         US|     US-TX|        TX|-97.158528, 31.48...| 13|
| 26AZ|small_airport|Flying Dare's Ran...|         US|     US-AZ|        AZ|-113.203002929687...| 14|
| 2LA7|small_airport|    Costello Airport|         US|     US-LA|        LA|-91.4262008666992...| 15|
| 2TE9|     heliport|Cuero Community H...|         US|     US-TX|        TX|-97.2833023071289...| 16|
| 37OR|small_airport|Vey Sheep Ranch A...|         US|     US-OR|        OR|-118.399002075195...| 17|
| 39ID|       closed|Albion Municipal ...|         US|     US-ID|        ID|  -113.5603, 42.4007| 18|
| 3XA9|     heliport|Mfs Sabine Pass H...|         US|     US-TX|        TX|-93.868333, 29.72...| 19|
| 40ME|small_airport|           Tib Field|         US|     US-ME|        ME|-70.955978, 44.10...| 20|
+-----+-------------+--------------------+-----------+----------+----------+--------------------+---+
only showing top 20 rows

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- coordinates: string (nullable = true)
 |-- Id: integer (nullable = true)




drop rows with nulls in all columns of data frame:  ['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'State', 'Country']
Rows before dropping nulls:  149745
Rows after dropping nulls:  141930
Rows after dropping duplicate rows:  141930
+-------------------+------------------+-----------------------------+-------+-------------+-----------+---+
|                 dt|AverageTemperature|AverageTemperatureUncertainty|  State|      Country|State_Codes| Id|
+-------------------+------------------+-----------------------------+-------+-------------+-----------+---+
|1844-04-01 00:00:00|             19.01|                         1.87|Alabama|United States|         AL|  1|
|1901-09-01 00:00:00|             21.99|                         0.41|Alabama|United States|         AL|  2|
|1902-06-01 00:00:00|             26.49|                         0.46|Alabama|United States|         AL|  3|
|1915-11-01 00:00:00|             13.36|                         0.27|Alabama|United States|         AL|  4|
|1923-03-01 00:00:00|             12.28|                         0.32|Alabama|United States|         AL|  5|
|1923-07-01 00:00:00|             25.42|                         0.25|Alabama|United States|         AL|  6|
|1924-10-01 00:00:00|             17.21|                         0.18|Alabama|United States|         AL|  7|
|1944-04-01 00:00:00|              16.3|                         0.15|Alabama|United States|         AL|  8|
|1945-11-01 00:00:00|             13.19|                         0.22|Alabama|United States|         AL|  9|
|1994-04-01 00:00:00|             18.41|                         0.16|Alabama|United States|         AL| 10|
|2005-08-01 00:00:00|             27.51|                         0.16|Alabama|United States|         AL| 11|
|1851-12-01 00:00:00|            -19.71|                         4.65| Alaska|United States|         AK| 12|
|1863-07-01 00:00:00|             11.32|                         3.89| Alaska|United States|         AK| 13|
|1868-03-01 00:00:00|            -14.05|                         4.02| Alaska|United States|         AK| 14|
|1891-01-01 00:00:00|            -18.31|                          3.9| Alaska|United States|         AK| 15|
|1918-02-01 00:00:00|            -19.13|                         0.87| Alaska|United States|         AK| 16|
|1925-11-01 00:00:00|            -11.46|                         0.77| Alaska|United States|         AK| 17|
|1968-02-01 00:00:00|            -19.38|                         0.27| Alaska|United States|         AK| 18|
|1975-08-01 00:00:00|              9.64|                         0.53| Alaska|United States|         AK| 19|
|1975-12-01 00:00:00|            -22.12|                         0.22| Alaska|United States|         AK| 20|
+-------------------+------------------+-----------------------------+-------+-------------+-----------+---+
only showing top 20 rows

root
 |-- dt: timestamp (nullable = true)
 |-- AverageTemperature: double (nullable = true)
 |-- AverageTemperatureUncertainty: double (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- State_Codes: string (nullable = true)
 |-- Id: integer (nullable = true)




drop rows with nulls in all columns of data frame:  ['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate', 'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa', 'count', 'dtadfile', 'entdepa', 'entdepd', 'matflag', 'biryear', 'dtaddto', 'airline', 'admnum', 'fltno', 'visatype']
Rows before dropping nulls:  3096313
Rows after dropping nulls:  2769644
Rows after dropping duplicate rows:  2769644
root
 |-- Id: integer (nullable = true)
 |-- Start_Time: string (nullable = true)
 |-- Hour: integer (nullable = true)
 |-- Day: integer (nullable = true)
 |-- Week: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Weekday: string (nullable = true)

root
 |-- Id: integer (nullable = true)
 |-- Start_Time: string (nullable = true)
 |-- Hour: integer (nullable = true)
 |-- Day: integer (nullable = true)
 |-- Week: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Weekday: string (nullable = true)

root
 |-- Id: integer (nullable = true)
 |-- Start_Time: string (nullable = true)
 |-- Hour: integer (nullable = true)
 |-- Day: integer (nullable = true)
 |-- Week: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Weekday: string (nullable = true)

root
 |-- Id: integer (nullable = true)
 |-- Start_Time: string (nullable = true)
 |-- Hour: integer (nullable = true)
 |-- Day: integer (nullable = true)
 |-- Week: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Weekday: string (nullable = true)

ArrivalDateTimeDimensionTable
+----+--------------------+----+---+----+-----+----+-------+
|  Id|          Start_Time|Hour|Day|Week|Month|Year|Weekday|
+----+--------------------+----+---+----+-----+----+-------+
| 432|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
| 630|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1014|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1037|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1116|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1227|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1335|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1340|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1652|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1763|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|2407|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|2480|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|2855|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|2939|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|3389|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|3603|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|4124|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|4131|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|4340|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|4669|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
+----+--------------------+----+---+----+-----+----+-------+
only showing top 20 rows

DepartureDateTimeDimensionTable
+----+--------------------+----+---+----+-----+----+-------+
|  Id|          Start_Time|Hour|Day|Week|Month|Year|Weekday|
+----+--------------------+----+---+----+-----+----+-------+
|  66|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
| 105|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
| 242|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
| 304|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
| 688|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
| 718|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1316|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1459|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1565|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1636|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1665|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1878|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|1909|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|2227|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|2405|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|2422|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|2615|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|3338|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|3342|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
|3343|1970-01-01 00:00:...|   0|  1|   1|    1|1970|      4|
+----+--------------------+----+---+----+-----+----+-------+
only showing top 20 rows

+------+------+------+------+------+-------+-------+-------+------+-------+-----+--------+-------+-------+-------+-------+--------+-------+---------------+-----+--------+---+
| cicid| i94yr|i94mon|i94cit|i94res|i94port|i94mode|i94addr|i94bir|i94visa|count|dtadfile|entdepa|entdepd|matflag|biryear| dtaddto|airline|         admnum|fltno|visatype| Id|
+------+------+------+------+------+-------+-------+-------+------+-------+-----+--------+-------+-------+-------+-------+--------+-------+---------------+-----+--------+---+
| 410.0|2016.0|   4.0| 103.0| 103.0|    MIA|    1.0|     FL|  35.0|    2.0|  1.0|20160401|      G|      O|      M| 1981.0|06292016|     TK|5.5457215033E10|00077|      WT|  1|
| 411.0|2016.0|   4.0| 103.0| 103.0|    MIA|    1.0|     FL|  34.0|    2.0|  1.0|20160401|      G|      O|      M| 1982.0|06292016|     TK|5.5457375533E10|00077|      WT|  2|
| 898.0|2016.0|   4.0| 104.0| 104.0|    NEW|    1.0|     NJ|  13.0|    2.0|  1.0|20160401|      G|      O|      M| 2003.0|06292016|     DL|5.5443159933E10|00021|      WT|  3|
|1073.0|2016.0|   4.0| 104.0| 104.0|    NEW|    1.0|     NY|  62.0|    2.0|  1.0|20160401|      G|      O|      M| 1954.0|06292016|     UA|5.5438332733E10|02067|      WT|  4|
|1165.0|2016.0|   4.0| 104.0| 104.0|    WAS|    1.0|     NY|  18.0|    2.0|  1.0|20160401|      G|      O|      M| 1998.0|06292016|     UA|5.5427397833E10|00947|      WT|  5|
|1210.0|2016.0|   4.0| 104.0| 104.0|    HOU|    1.0|     TX|  15.0|    2.0|  1.0|20160401|      G|      O|      M| 2001.0|06292016|     UA|5.5441643733E10|00021|      WT|  6|
|1249.0|2016.0|   4.0| 104.0| 104.0|    NYC|    1.0|     NY|  65.0|    2.0|  1.0|20160401|      G|      O|      M| 1951.0|06292016|     LH|5.5457152833E10|00404|      WT|  7|
|1403.0|2016.0|   4.0| 104.0| 104.0|    NYC|    1.0|     NY|  42.0|    2.0|  1.0|20160401|      G|      O|      M| 1974.0|06292016|     AF|5.5437131933E10|00012|      WT|  8|
|1449.0|2016.0|   4.0| 104.0| 104.0|    NYC|    1.0|     NY|  18.0|    2.0|  1.0|20160401|      G|      O|      M| 1998.0|06292016|     DL|5.5418481333E10|00049|      WT|  9|
|1597.0|2016.0|   4.0| 104.0| 104.0|    LOS|    1.0|     CA|  36.0|    2.0|  1.0|20160401|      G|      O|      M| 1980.0|06292016|     NZ|5.5462204533E10|00001|      WT| 10|
|1618.0|2016.0|   4.0| 104.0| 104.0|    MIA|    1.0|     FL|  48.0|    2.0|  1.0|20160401|      G|      I|      M| 1968.0|06292016|     UX|5.5460406033E10|00097|      WT| 11|
|2025.0|2016.0|   4.0| 104.0| 104.0|    NYC|    1.0|     NY|  51.0|    2.0|  1.0|20160401|      O|      O|      M| 1965.0|06292016|     SN|5.5419979133E10|01401|      WT| 12|
|2048.0|2016.0|   4.0| 104.0| 104.0|    MIA|    1.0|     FL|   3.0|    2.0|  1.0|20160401|      O|      O|      M| 2013.0|06292016|     UX|5.5456895133E10|00097|      WT| 13|
|2651.0|2016.0|   4.0| 107.0| 107.0|    ORL|    1.0|     FL|  41.0|    2.0|  1.0|20160401|      G|      O|      M| 1975.0|09302016|     LH| 9.249973163E10|00464|      B2| 14|
|2935.0|2016.0|   4.0| 108.0| 108.0|    DET|    1.0|     SC|  18.0|    2.0|  1.0|20160401|      G|      O|      M| 1998.0|06292016|     DL|5.5449595833E10|00139|      WT| 15|
|3120.0|2016.0|   4.0| 108.0| 108.0|    NYC|    1.0|     NY|  38.0|    2.0|  1.0|20160401|      G|      O|      M| 1978.0|06292016|     BA|5.5459374833E10|00113|      WT| 16|
|3554.0|2016.0|   4.0| 108.0| 108.0|    SAJ|    1.0|     VQ|  62.0|    2.0|  1.0|20160401|      G|      O|      M| 1954.0|06292016|     DY|5.5420924233E10|07125|      WT| 17|
|3801.0|2016.0|   4.0| 109.0| 109.0|    LOS|    1.0|     CA|  36.0|    2.0|  1.0|20160401|      O|      O|      M| 1980.0|06292016|     AA|5.5450375933E10|00109|      WT| 18|
|4040.0|2016.0|   4.0| 110.0| 110.0|    NYC|    1.0|     NY|  34.0|    2.0|  1.0|20160401|      G|      O|      M| 1982.0|06292016|     AY|5.5447662533E10|00005|      WT| 19|
|4339.0|2016.0|   4.0| 110.0| 111.0|    BOS|    1.0|     MA|  17.0|    2.0|  1.0|20160401|      G|      O|      M| 1999.0|06292016|     BA|5.5460412433E10|00215|      WT| 20|
+------+------+------+------+------+-------+-------+-------+------+-------+-----+--------+-------+-------+-------+-------+--------+-------+---------------+-----+--------+---+
only showing top 20 rows

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)

## Querying on the resulting parquet files:

In [ ]:
result_data = "/home/workspace/data/"

In [58]:
spark = create_spark_session()

In [59]:
data_immigration = result_data + 'Immigration_Details/part-*.parquet'
data_arrival =  result_data + 'ArrivalDateTime.parquet/year=1970/month=1/part-*.parquet'
data_demographics = result_data + 'Demographics/part-*.parquet'

In [60]:
df_immigration = spark.read.parquet(data_immigration) 
df_arrival = spark.read.parquet(data_arrival) 
df_demographics = spark.read.parquet(data_demographics)

In [61]:
df_immigration.createOrReplaceTempView("view_immigration")
df_arrival.createOrReplaceTempView("view_arrival")
df_demographics.createOrReplaceTempView("view_demographics")

In [81]:
# query to find details of passenger with specific Id and associated demographics info
query1 = "select i.id, i.i94cit, i.i94port, i.i94mode, i.i94addr, i.airline, i.fltno, d.male_population, d.female_population, d.median_age from view_immigration as i inner join view_demographics as d on i.i94addr = d.state_code where i.id = 1000"

In [ ]:
# query to find details of passenger with specific Id and associated arrival times info
query2 = "select i.id, i.i94cit, i.i94port, i.i94mode, i.i94addr, i.airline, i.fltno, a.hour, a.week, a.day from view_immigration as i inner join view_arrival as a on i.id = a.id where i.id = 1000"

In [77]:
spark.sql(query1).show()

+----+------+-------+-------+-------+-------+-----+---------------+-----------------+-----------------+
|  id|i94cit|i94port|i94mode|i94addr|airline|fltno|male_population|female_population|       median_age|
+----+------+-------+-------+-------+-------+-----+---------------+-----------------+-----------------+
|1000| 117.0|    CHI|    1.0|     IL|     TK|00005|       10943864|         11570526|35.70879120879121|
+----+------+-------+-------+-------+-------+-----+---------------+-----------------+-----------------+

In [82]:
spark.sql(query2).show()

+----+------+-------+-------+-------+-------+-----+----+----+---+
|  id|i94cit|i94port|i94mode|i94addr|airline|fltno|hour|week|day|
+----+------+-------+-------+-------+-------+-----+----+----+---+
|1000| 117.0|    CHI|    1.0|     IL|     TK|00005|   0|   1|  1|
+----+------+-------+-------+-------+-------+-----+----+----+---+